html[data-theme="light"] {
  --pst-color-primary: rgb(93, 154, 181);
  --pst-color-secondary: rgb(93, 154, 181);
  --pst-color-secondary-bg: rgb(223, 235, 240);
}

html[data-theme="dark"] {
  --pst-color-primary: rgb(93, 155, 182);
  --pst-color-secondary: rgb(93, 155, 182);
  --pst-color-secondary-bg: rgb(33, 45, 51);
}

.navbar-brand img {
  height: 75px;
}

.navbar-brand {
  height: 75px;
}

.col-lg-3 {
  width: 15%;
}

.version-switcher__menu a.list-group-item {
  font-size: small;
}

button.btn.version-switcher__button,
button.btn.version-switcher__button:hover {
  color: black;
  font-size: small;
}

.sd-card .sd-card-img-top {
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

html[data-theme=dark] .sd-card img[src*='.svg'] {
  filter: invert(0.82) brightness(0.8) contrast(1.2);
}

div.admonition-legacy {
  border-color: var(--pst-color-warning);
}

div.admonition-legacy>.admonition-title::after {
  color: var(--pst-color-warning);
}

div.admonition-legacy>.admonition-title {
  background-color: var(--pst-color-warning-bg);
}

.try_examples_button {
  color: white;
  background-color: var(--pst-color-info);
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
  margin-top: 3px;
  margin-bottom: 5px !important;
  box-shadow: 0 2px 5px rgba(108, 108, 108, 0.2);
  font-weight: bold;
  font-size: small;
}

[data-theme=dark] .try_examples_button {
  color: black;
}

.try_examples_button:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.try_examples_button_container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}

.try_examples_outer_iframe {
  margin-top: 0.4em;
}

h1 {
  word-wrap: break-word;
}

h1#moderndid-documentation {
  font-weight: bold;
}

.bd-container {
  max-width: 100%;
}

.bd-header .bd-header__inner {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bd-content .bd-article-container {
  max-width: 1400px;
  margin: 0 auto;
}

div.empty + section>h1 {
  font-family: var(--pst-font-family-monospace);
}

.prename {
  font-family: var(--pst-font-family-monospace);
  font-size: var(--pst-font-size-h4);
}

.sig-prename {
  display: none;
}

.bd-header-nav-items {
  margin-left: 1rem;
}

ul.bd-navbar-elements {
  padding-left: 1rem;
}

.navbar-nav {
  margin-left: 1rem;
}

.wy-nav-side p.caption {
  color: #F5F5F5;
}

div.wy-side-nav-search {
  background: #757575;
}

div.wy-side-nay {
  background: #212121;
}

table.field-list td li {
  line-height: 18px;
}

table.docutils td p {
  font-size: 14px !important;
  margin-bottom: 6px;
}

table.docutils td li {
  line-height: 18px;
}

table td.vl-type-def {
  max-width: 170px;
  overflow-x: clip;
}

#rtd-footer-container {
  display: none;
}

.bd-sidebar-primary {
  max-width: 20%
}

@media (max-width: 959.98px) {
  .bd-sidebar-primary {
      max-width: 350px;
  }
}

.properties-example .vega-bind-name {
  display: inline-block;
  min-width: 150px;
}

.properties-example .vega-bindings {
  padding-left: 20px;
  padding-bottom: 10px;
}

.properties-example .vega-bindings select {
  max-width: 180px;
}

.properties-example .vega-bindings input {
  vertical-align: text-bottom;
  margin-right: 3px;
}

.full-width-plot {
  width: 100%;
}

.search-button-field > .search-button__kbd-shortcut {
    display: none;
}

.lead {
  font-size: 1.3em;
  font-weight: 300;
  margin-top: 22px;
  margin-bottom: 22px;
}

.lead strong {
  font-weight: bold;
}
